.body--dark {
    background-color: #1b1b1b;
    color: white
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0
}

::-webkit-scrollbar {
    display: none;
}

h1,h2,.title-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

p,.content-font {
    font-family: 'Nanum Gothic', sans-serif;
}

/* Grid system */
.grid {
    display: grid;
    grid-column-gap: 15px;
}
.grid--inline {
    display: inline-grid;
    grid-column-gap: 15px;
}
.grid--12 {

}
.grid--10 {

}

.grid__col {
    grid-column: 1 / 13
}

.grid__col--6 {
    grid-column: 1 / 7;
}

